*{
  box-sizing: border;
}


label{
  font-family: Arial;
}

.mitte{
  text-align: center;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#logincontainer p{
  color: red;
}

/* Set a style for all buttons */
button {
    background-color: #6DD5FF;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all .2s ease-in-out;
}

/* Add a hover effect for buttons */
button:hover {
  transform: scale(1.1);
}

/* Center the avatar image inside this container */
.überschrift {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

.formcontainer{
  margin: auto;
  margin-top: 20px;
  padding: 16px;
  border: 3px solid lightgray;
  border-radius: 20px;
  width: 300px;
}

.error{
  color: red;
}

.success{
  color: green;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
